# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code launch configs (optional)
/.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Personal images - no longer ignored
# assets/images/S1.jpg
# assets/images/S2.jpg
# assets/images/S3.jpg
# assets/images/S4.jpg
# assets/images/S5.jpg
# assets/images/S6.png
# assets/images/S9.png
# assets/images/S10.png
# assets/images/S11.jfif

# Personal audio - tracked
assets/audios/A1.mp3
assets/audios/A2.mp3
assets/audios/A3.mp3
assets/audios/A4.mp3
assets/audios/A5.mp3
assets/audios/A6.mp3
assets/audios/A7.mp3
